
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #33475b;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: #33475b;
}

/* Classi riutilizzabili */

.color-lightgrey{
  background-color: #f4f9fd;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.full-screen{
  width: 100%;
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.btn{
  padding: 10px;
  border-radius: 5px;
}

.btn-orange{
  background-color: #fe775a;
  color: #fff;
}

.btn-white{
  background-color: #fff;
  color: #fe775a;
  border: 1px solid #fe775a;
}

.btn-large{
  padding: 20px;
}

.btn-columns{
  margin-top: 65px;
}

/* /regole riutillizzabili */

.header-top{
  width: 100%;
  height: 80px;
  background-color: #f4f9fd;
  line-height: 80px;
  border-bottom: 1px solid black;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;

}
.header-bottom{
  height: 80px;
  line-height: 80px;
  margin-top: 80px;
}

header ul li{
  display: inline-block;
  padding: 0 10px;
}


.header-top-left {
  width: 50%;

}

.header-top-left i:last-child{
  border-right: 2px solid #aaa;
  padding-right: 20px;
}

.header-top-right{
  width: 50%;
  text-align: right;
}

.header-top-right .color-search{
  color: #00a4bd;
}

.header-bottom-left{
  width: 30%;
}

.header-bottom-left img{
  vertical-align: middle;
}

.header-bottom-right{
  width: 70%;
  text-align: right;
}

.header-bottom-right ul i{
  padding-left: 10px;
}

.jumbotron{
  height: 685px;
  background-color: #fdf6ee;
  background-image: url('../img/jumbotron.png');
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
  box-shadow: inset 0 10px 8px -0.5px rgba(0, 0, 0, 0.1);
}

.jumbotron::before{
  width: 100%;
  height: 70px;
  background-color: #aceae3;
  border-top:3px solid #306a72;
  border-bottom: 3px solid #306a72;
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;

}

.jumbotron-item{
  width: 50%;
}

.jumbotron-item h1{
  font-size: 300%;
  padding-top: 50px;
}

.jumbotron-item p{
  padding: 50px 0;
  line-height: 1.6;
}

/* main */
main{
  background-color: #f4f9fd;
}

/*
.height-first-section{
  height: 100%;
} */

.first-section-top{
  width: 68%;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.first-section-top img{
  height: 250px;
}

.first-section-top h2{
  text-transform: capitalize;
  margin-bottom: 15px;
}

.first-section-top p{
  line-height: 30px;
}


.second-section-bottom{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.second-section-bottom-left{
  width: 35%;
  margin: 0 auto;
  padding: 50px 0;
}

.img-info{
  height: 200px;
  text-align: center;

}

.margin-btn{
  margin-top: 40px;
}

.second-section-bottom-left .img-info img{
  max-height: 100px;
  margin: 0 auto;

}

.second-section-bottom-right {
  width: 65%;
  padding: 50px 0;
}

.second-section-bottom-right p{
  padding-top: 40px ;
}

.second-section-bottom-right h4{
  padding: 30px 0;
}

.info-bottom-right{
  width: 75%;
}

.size::after{
  content: '';
  display: block;
  float: right;
  width: 70%;
  height: 2px;
  margin-top: 9px;
  background-color: #899397;

}

.size{
  text-transform: uppercase;
}


.display-inline li{
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  margin-right: 10px;
  padding-right: 5px;
}

.display-inline li i{
  padding-right: 15px;
  color:#fe775a;
}

.columns{
  height: 100%;
  margin: 40px 0;
}

.columns-left{
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-marketing{
  text-align: center;
}

.box-img {
   height: 150px;
 }

.box-img img{
  height: 90%;
  padding: 15px 0;
  margin: 0px auto;
}

.info-text {
  padding: 30px 10px;
}

.info-text p{
  margin-top: 25px;
  line-height: 30px;
  padding: 2%;
}

.info-text hr{
  border: 1px solid #899397;
  margin-top: 55px;
}

.info-text h3{
  text-transform: uppercase;
  margin-top: 35px;
}

.info-text ul {
  list-style: none;
  text-align: left;
  padding-top: 40px;
}

.info-text i {
  color: #fe775a;
  padding-right: 15px;
}

.columns-center{
  margin: 0 5%;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-sales{
  text-align: center;
}

.columns-width{
  width: 30%;
}

.columns-right{
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.info-service{
  text-align: center;
}


.comunity{
  color: #fff;
  background: linear-gradient(45deg, #00a4bd, #00bda5);
  padding: 30px 0 60px 0 ;
}

.comunity-top{
  text-align: center;
  padding: 2% 10%;
}

.comunity-bottom{
  text-align: center;
  margin-bottom: 40px;
}

.comunity-bottom p{
  line-height: 35px;
}

.link{
  background-color: #32495b;
}


.row{
  text-align: center;
}

.row-item{
  width: 25%;
}

.row-color{
  border-bottom: 1px solid #fff;
}

.row-item:not(:last-child){
  border-right: 1px solid #fff;
}

.row-item img{
  margin-top: 25px;
}

.row-item h3{
  font-size: 30px;
  padding: 20px;
}

.row-item h3::after{
  content: '+';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: 60%;
  font-weight: normal;
}

.margin-small{
padding-bottom: 25px;
}

#social-margin{
  padding-top: 13px;
}

.customers{
  background-color: #fff;
  padding: 40px 0;
}

.customers-top-left{
  width: 40%;
  padding: 0 10%;
}

.customers-top-left h2{
  font-size: 40px;
}

.customers-top-left p{
  line-height: 25px;
  text-align: left;
  padding-top: 30px;
}

.customers-top-right{
  width: 60%;
}

.row-img-customer{
  width: 25%;
  padding: 20px;
}

.row-img-customer img{
  width: 55%;
}

/* debugg */
.h-200{
  height: 200px;
}

.h-500{
  height: 500px;
}

.grigio{
  background-color:lightgrey;
}


.rosso{
  background-color: red;
}

.celeste{
  background-color: lightblue;
}

.viola{
  background-color: violet;
}

.giallo{
  background-color: #ccd66c;
}
